version: "3.9"

services:
  app:
    build: .
    container_name: be_life_track
    environment:
      APP_NAME: Life Track
      APP_ENV: development
      DEBUG: "true"
      DATABASE_URL: mysql+asyncmy://root:my-secret-pw@host.docker.internal:3306/life_track
      JWT_SECRET: cjWA77z57XIkgrIIgwRHCsOuWRhH6mf1
      JWT_ALGORITHM: HS256
      JWT_EXPIRATION_MINUTES: "60"
      LOG_LEVEL: INFO
      KAKAO_APP_ID: "1335231"
      PYTHONPATH: /app
    ports:
      - "8000:8000"
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    restart: unless-stopped
